<div class="tt__navigation">
  <button (click)="toggle()" [class.close]="isOpen" class="tt__hamburger">
    <span class="line"></span> <span class="line"></span> <span class="line"></span>
  </button>
  <nav [class.active]="isOpen" id="navigation">
    <ul>
      <li routerLinkActive="active">
        <i class="material-icons">home</i> <a (click)="close()" routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active">
        <i class="material-icons">list</i> <a (click)="close()" routerLink="/graphic">Graphics</a>
      </li>
    </ul>
  </nav>
</div>
